{{!-- Research --}}
<div class="experience__item">
  <i class="fa fa-3x fa-diamond"></i>
  <h4>{{lang.experience.research.heading}}</h4>
  <p>{{lang.experience.research.blurb}}</p>
</div>

{{!-- Interface --}}
<div class="experience__item">
  <i class="fa fa-3x fa-tint"></i>
  <h4>{{lang.experience.interface.heading}}</h4>
  <p>{{lang.experience.interface.blurb}}</p>
</div>

{{!-- Code --}}
<div class="experience__item">
  <i class="fa fa-3x fa-code"></i>
  <h4>{{lang.experience.code.heading}}</h4>
  <p>{{lang.experience.code.blurb}}</p>
</div>
